<div>
  <div class="text-center">
    <h1>Bienvenue dans lets chat</h1>
  </div>

  <% if current_user %>
    <% if @chatrooms.empty? %>
      <div class="">
        <p>No chatroom available</p>
        <%= link_to "Create a chatroom", new_chatroom_path %>
      </div>
    <% else %>
      <p>Chatrooms available : </p>

      <div class="list-group">
        <% @chatrooms.each do |chatroom| %>
          <%= link_to chatroom_path(chatroom.slug), class: "list-group-item list-group-item-action flex-column align-items-start" do %>
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">
                <%= chatroom.slug %>
              </h5>
              <small>
                <%= chatroom.messages.count %>
                messages
              </small>
            </div>
            <small>
              <%= chatroom.topic %>
            </small>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
